
make_script/sticom.exe
make_script/!make_sti from render.bat
make_script/_make_boat.bat
make_script/_make_scorpion.bat
make_script/_make_spartan.bat
make_script/_make_striker.bat
make_script/_make_tank.bat
make_script/_make_turret.bat
make_script/_sticom.exe
make_script/act2psppalette.exe
make_script/convert.exe
make_script/help_convert.txt
make_script/help_sticom.txt
make_script/identify.exe
make_script/import.act
make_script/import.psp
make_script/make_boat_3.bat
make_script/make_boat_31.bat
make_script/make_boat_63.bat
make_script/make_boat_8.bat
make_script/make_jeep_corpse_71.bat
make_script/make_jeep_debris_7.bat
make_script/make_jeep_move_63.bat
make_script/make_jeep_rotate_31.bat
make_script/make_jeep_shot_63.bat
make_script/make_sti.bat
make_script/make_sti_3.bat
make_script/make_sti_31.bat
make_script/make_sti_63.bat
make_script/make_sti_7.bat
make_script/make_turret_corpse_71.bat
make_script/make_turret_debris_7.bat
make_script/make_turret_idle_63.bat
make_script/make_turret_shot_63.bat
make_script/palette.act
make_script/palette.psp
make_script/Palettes/default.act
make_script/Palettes/fixed_colors.act
make_script/Palettes/grayscale.act
make_script/Palettes/guns_AK.stp
make_script/Palettes/guns_universal.act
make_script/Palettes/guns_universal.stp
make_script/Palettes/JA2 character model palette v2.act
make_script/Palettes/JA2 character model palette.act
make_script/Palettes/JA2_character_model_palette_v3.act
make_script/Palettes/marine_dress_blue.act
make_script/Palettes/variable_colors.act
make_script/psppalette2act.exe
make_script/sti-edit/pals.bin
make_script/sti-edit/readme.txt
make_script/sti-edit/STI-Edit.en
make_script/sti-edit/STI-Edit.exe
make_script/sti-edit/STI-Edit.fi
make_script/sti-edit/STI-Edit.ini
make_script/sti-edit/STI-Edit.ru
output/
JA2 2.9_033.blend1
*.bmp
*.sti
batchrender-heavyweapons0.py
batchrender-heavyweapons1.py
batchrender-meleeweapons0.py
batchrender-meleeweapons1.py
batchrender-meleeweapons2.py
batchrender-meleeweapons3.py
batchrender-noweapons0.py
batchrender-noweapons1.py
batchrender-noweapons2.py
batchrender-noweapons3.py
batchrender-noweapons4.py
batchrender-noweapons5.py
batchrender-noweapons6.py
batchrender-noweapons7.py
batchrender-pistols0.py
batchrender-pistols1.py
batchrender-pistols2.py
batchrender-pistols3.py
batchrender-pistols4.py
batchrender-pistols5.py
batchrender-pistols6.py
batchrender-pistols7.py
batchrender-rifles0.py
batchrender-rifles1.py
batchrender-rifles2.py
batchrender-rifles3.py
batchrender-rifles4.py
batchrender-rifles5.py
batchrender-rifles6.py
batchrender-rifles7.py
